@import "tailwindcss";

@theme {
    --color-app-primary: #ffe600;
    --color-app-button-primary: #3483fa;
    --color-app-button-primary-hover: #2968c8;
    --color-app-button-secondary: rgba(65, 137, 230, .15);
    --color-app-text-secondary: #333;
    --color-app-text-tertiary: rgba(0, 0, 0, .55);
    --color-app-text-success: #00a650;
    --color-app-background: #ededed;
}

body, #root {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-flow: column;
}
