@import "tailwindcss";

@theme {
    --color-app-primary: #ffe600;
    --color-app-button-primary: #3483fa;
    --color-app-button-primary-hover: #2968c8;
    --color-app-text-secondary: #333;
}

body, #root {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-flow: column;
}
